:root {
  font-family: "Poppins", Verdana, sans-serif;
  line-height: 1.5;

  color-scheme: dark light;
  --gold: hsl(59, 77%, 40%);
  --pink: hsl(330, 88%, 55%);
  --blue: hsl(178, 70%, 43%);

  --grey0: hsl(0, 0%, 97%);
  --grey1: hsl(213, 21%, 75%);
  --grey2: hsl(222, 15%, 50%);
  --grey3: hsl(208, 11%, 30%);
  --grey4: hsl(218, 12%, 19%);
  --grey5: hsl(200, 20%, 9%);

  --uppercase-group: var(--blue);
  --lowercase-group: var(--gold);
  --number-group: var(--grey0);
  --symbol-group: var(--pink);
}

.solar {
  --grey0: hsl(66, 100%, 92%);
  --grey1: hsl(93, 90%, 74%);
  --grey2: hsl(101, 63%, 48%);
  --grey3: hsl(143, 45%, 45%);
  --grey4: hsl(192, 100%, 20%);
  --grey5: hsl(192, 100%, 15%);
  --uppercase-group: var(--grey2);
  --lowercase-group: var(--grey0);
  --number-group: hsl(50, 100%, 50%);
  --symbol-group: hsl(275, 100%, 75%);
}

.dark {
  --bg: var(--grey5);
  --text: var(--grey0);
  --accent-col: var(--gold);
  --button: var(--grey4);
  --container: var(--grey5);
  --container-hover: var(--grey4);
}

.light {
  --bg: var(--grey1);
  --text: var(--grey5);
  --accent-col: var(--blue);
  --button: var(--blue);
  --container: var(--grey4);
  --container-hover: var(--grey3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--text);
  background: var(--bg);
  min-width: 320px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background: url('../dist/backdrop.png');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-top: 100px;
  margin-bottom: 10px;
}

button {
  margin-inline: 5px;
  padding: 5px 7px;
  background-color: var(--button);
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 300ms ease;
  cursor: pointer;
}

button:hover {
  border: 2px solid var(--pink) !important;
}

button svg {
  scale: 0.85;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.col {
  flex: 1 0 0%
}
.col-auto {
  flex: 0 0 auto;
  width: auto
}
.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%
}
.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%
}
.col-3 {
  flex: 0 0 auto;
  width: 25%
}
.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%
}
.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%
}
.col-6 {
  flex: 0 0 auto;
  width: 50%
}
.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%
}
.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%
}
.col-9 {
  flex: 0 0 auto;
  width: 75%
}
.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%
}
.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%
}
.col-12 {
  flex: 0 0 auto;
  width: 100%
}

.mx-auto {
  margin-inline: auto;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.output-container {
  height: 500px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

#generatedPassword {
  font-family: monospace;
  font-size: xx-large;
  font-weight: bolder;
  word-wrap: break-word;
  max-width: fit-content;
  padding-top: 1rem;
  padding-inline: 1rem;
  background-color: var(--container);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey2);
  cursor: pointer;
}

#generatedPassword:hover {
  background-color: var(--container-hover);
}

#generatedPassword span {
  margin-inline: 1px;
}

form {
  padding: 1rem 1rem 2rem 1rem;
  transition: all 300ms ease;
  max-width: max-content;
}

form * {
  cursor: pointer;
}

form label:not(:last-of-type) {
  margin-right: 20px;
}

form input[type="checkbox"] {
  margin-right: 5px;
  accent-color: var(--accent-col);
}

label.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

label.toggler-wrapper input[type="checkbox"] {
  display: none;
}

label.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: var(--accent-col);
}

label.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

label.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

label.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

label.toggler-wrapper .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}

label.toggler-wrapper p {
  padding-top: 10px;
}

#dark {
  background: var(--grey4);
  fill: #fff;
}

#light {
  background: var(--grey1);
  fill: var(--grey4);
  border-color: var(--grey4);
}

#solar {
  background: var(--gold);
  fill: var(--grey4);
}

footer a {
  color: inherit;
  text-decoration: none;
  transition: all 250ms ease;
}

footer a:hover {
  color: var(--pink);
}
